[submodule "VirSieveAlign"]
	path = VirSieveAlign
	url = git@github.com:Zymo-Research/VirSieveAlign.git
[submodule "VirSieveIVar"]
	path = VirSieveIVar
	url = git@github.com:Zymo-Research/VirSieveIVar.git
[submodule "VirSieveGATK"]
	path = VirSieveGATK
	url = git@github.com:Zymo-Research/VirSieveGATK.git
